<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://d26lpennugtm8s.cloudfront.net/stores/892/541/products/952301-mla27606249644_062018-o-c1359b1f893bb631f915402215436826-640-0.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Futgol
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/socios">socios</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/asistencia">asistencia</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/encuentros">encuentros</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/horarios">horarios</a>
          </li>
        </ul>
      </div>
    </nav>
