<div class="row">
    <div class="col-sm-8">
            <table class="table table-striper">
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th> 
                        <th>Descripcion</th>  
                        <th>Fecha y Hora</th>  
                        <th>Ubicacion</th>  
                        <th>Categoria</th>  
                        <th>Estado</th>  
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pago of listpagos">
                        <td>{{encuentro.id_encuentro_partidos}}</td>
                        <td>{{encuentro.titulo}}</td>
                        <td>{{encuentro.descripcion}}</td>
                        <td>{{encuentro.fecha_hora}}</td>
                        <td>{{encuentro.ubicacion}}</td>
                        <td>{{encuentro.categoria}}</td>
                        <td>{{encuentro.estado}}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-danger">Eliminar</button>
                                <button (click)="editarencuentro(pago)" class="btn btn-primary">Editar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="col-sm-8">

        <div clss="card">
            <div class="card-header">Formularios de encuentro de partidos</div>
            <div class="card body">
                <form [formGroup]="formEncuentros" (ngSubmit)="guardarencuentros()">

                    <input formControlName="id_encuentro_partidos" type="text">

                    <div class="form group"></div>
                        <input formControlName="Titulo" placeholder="Ingrese el Titulo" type="string" class="form-control">
                    </div>
                    <div class="form group">
                        <input formControlName="Descripcion" placeholder="Ingrese el Descripcion" type="text" class="form-control">
                    </div>
                    <div class="form group">
                        <input formControlName="fecha_hora" placeholder="Ingrese el Fecha y Hora" type="date" class="form-control">
                    </div>
                    <div class="form group">
                        <input formControlName="ubicacion" placeholder="Ingrese el Ubicacion" type="text" class="form-control">
                    </div>
                    <div class="form group">
                        <input formControlName="categoria" placeholder="Ingrese el Categoria" type="number" class="form-control">
                    </div>
                    <div class="form group">
                        <input formControlName="estado" placeholder="Ingrese el Estado" type="number" class="form-control">
                    </div>

                    <button class="btn btn-succes">Guardar un encuentro </button>
                </form>
            </div>
        </div>

    </div>
</div>