<div class="row">


    <div class="col-sm-8">
        
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Id del socio</th>
                    <th>Fecha de pago</th>
                    <th>Cuota</th>
                    <th>Periodo del mes</th>
                    <th>Periodo del año</th>
                    <th>Operaciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let pago of listPagos">
                    <td>{{pago.id_pagos}}</td>
                    <td>{{pago.id_socio}}</td>
                    <td>{{pago.fecha_pago}}</td>
                    <td>{{pago.cuota}}</td>
                    <td>{{pago.periodo_mes}}</td>
                    <td>{{pago.periodo_anio}}</td>
                    <td> 
                        <div class="btn-group btn-group-sm">
                            <button (click)="eliminarPago(pago.id_pagos);" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarPago(pago)" class="btn btn-primary">editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-sm-4">

        <div class="card">
            <div class="card-header"> Formulario de pagos</div>
            <div class="card-body">

                <form [formGroup]="formPago" (ngSubmit)="guardarPago()">
                    <input formControlName="id_pagos" type="hidden">

                    <div class="form-group">
                        <input formControlName="id_socio" placeholder="Ingrese ID socio" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="fecha_pago" placeholder="Fecha de pago" type="text" class="form-control">
                    </div>   
                    <div class="form-group">
                        <input formControlName="cuota" placeholder="Ingrese la cuota" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="periodo_mes" placeholder="Ingrese el periodo del mes" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="periodo_anio" placeholder="Ingrese el periodo del año" type="text" class="form-control">
                    </div>

                    <button class="btn btn-success">guardar pago</button>
                </form>

            </div>

        </div>

    </div>

</div>