<div class="row">


    <div class="col-sm-8">
        
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>id del socio</th>
                    <th>fecha de pago</th>
                    <th>cuota</th>
                    <th>periodo del mes</th>
                    <th>periodo del año</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                
                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-sim-4">

        <div class="card">
            <div class="card-headre"> Formulario de pagos</div>
            <div class="card-body">

                <form>
                    <div class="form-group">
                        <input placeholder="Ingrese ID socio" type="text" class="form-control">
                    </div>
                    <div class="from-group">
                        <input placeholder="Fecha de pago" type="text" class="form-control">
                    </div>   
                    <div class="from-group">
                        <input placeholder="Ingrese la cuota" type="text" class="form-control">
                    </div>
                    <div class="from-group">
                        <input placeholder="Ingrese el periodo del mes" type="text" class="form-control">
                    </div>
                    <div class="from-group">
                        <input placeholder="Ingrese el periodo del año" type="text" class="form-control">
                    </div>

                    <button class="btn btn-success">guardar pago</button>
                </form>

            </div>

        </div>

    </div>

</div>