<div class="row">


    <div class="col-sm-8">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input placeholder="ingrese criterio de busqueda" [(ngModel)]="buscarPago" type="text" class="form-control">
                </div>
            </div>
        </div>

       
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Id del socio</th>
                    <th>Fecha de pago</th>
                    <th>Cuota</th>
                    <th>Periodo del mes</th>
                    <th>Periodo del año</th>
                    <th>Operaciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let pago of listPagos | filter:buscarPago | paginate:{itemsPerPage:3,currentPage:p}">
                    <td>{{pago.id_pagos}}</td>
                    <td>{{pago.id_socio}}</td>
                    <td>{{pago.fecha_pago}}</td>
                    <td>{{pago.cuota}}</td>
                    <td>{{pago.periodo_mes}}</td>
                    <td>{{pago.periodo_anio}}</td>
                    <td> 
                        <div class="btn-group btn-group-sm">
                            <button (click)="eliminarPago(pago.id_pagos);" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarPago(pago)" class="btn btn-primary">editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
         </table>
         <div class="row">
             <div class="col-sm5">
                 <pagination-controls (pageChange)="p = $event"></pagination-controls>
             </div>
         </div>

    </div>

    <div class="col-sm-4">

        <div class="card">
            <div class="card-header"> Formulario de pagos</div>
            <div class="card-body">

                <form [formGroup]="formPago" (ngSubmit)="guardarPago()" novalidate>
                    <input formControlName="id_pagos" type="hidden">

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formPago.get('id_socio')?.touched || formPago.get('id_socio')?.dirty) && formPago.get('id_socio')?.invalid}" formControlName="id_socio" placeholder="Ingrese ID socio" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formPago.get('id_socio').hasError('required')">Campo requerido </span>
                            <span *ngIf="!formPago.get('id_socio').hasError('minLength')">Minimo 1 careacter</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formPago.get('fecha_pago')?.touched || formPago.get('fecha_pago')?.dirty) && formPago.get('fecha_pago')?.invalid}" formControlName="fecha_pago" placeholder="Fecha de pago" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formPago.get('fecha_pago').hasError('required')">Campo requerido </span>
                        </div>
                    </div>  

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formPago.get('cuota')?.touched || formPago.get('cuota')?.dirty) && formPago.get('cuota')?.invalid}" formControlName="cuota" placeholder="Ingrese la cuota" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formPago.get('cuota').hasError('required')">Campo requerido </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formPago.get('periodo_mes')?.touched || formPago.get('periodo_mes')?.dirty) && formPago.get('periodo_mes')?.invalid}" formControlName="periodo_mes" placeholder="Ingrese el periodo del mes" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formPago.get('periodo_mes').hasError('required')">Campo requerido </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formPago.get('periodo_anio')?.touched || formPago.get('periodo_anio')?.dirty) && formPago.get('periodo_anio')?.invalid}" formControlName="periodo_anio" placeholder="Ingrese el periodo del año" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formPago.get('periodo_anio').hasError('required')">Campo requerido </span>
                        </div>
                    </div>

                    <button [disabled]="formPago.invalid" class="btn btn-success">guardar pago</button>
                </form>

            </div>

        </div>

    </div>

</div>