<div class="row">


    <div class="col-sm-9">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input placeholder="ingrese criterio de busqueda" [(ngModel)]="buscarSocio" type="text" class="form-control">
                </div>
            </div>
        </div>

       
        <table class="table table-striped">

            <thead>
                <tr>
                    <th> id_socio</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>dni</th>
                    <th>celular_tutor</th>
                    <th>domicilio</th>
                    <th>categoria</th>
                    <th>enfermedad</th>
                    <th>estado</th>
                    <th>sexo</th>
                    <th>fecha_alta</th>
                    <th>fecha_nacimiento</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let socio of listSocio | filter:buscarSocio | paginate:{itemsPerPage:3,currentPage:p}">
                    <td>{{socio.id_socio}}</td>
                    <td>{{socio.nombre}}</td>
                    <td>{{socio.apellido}}</td>
                    <td>{{socio.dni}}</td>
                    <td>{{socio.celular_tutor}}</td>
                    <td>{{socio.domicilio}}</td>
                    <td>{{socio.categoria}</td>
                    <td>{{socio.enfermedad}}</td>
                    <td>{{socio.estado}}</td>
                    <td>{{socio.sexo}}</td>
                    <td>{{socio.fecha_alta}}</td>
                    <td>{{socio.fecha_nacimiento}</td>
                </tr>
            </tbody>
         </table>
         <div class="row">
             <div class="col-sm-5">
                 <pagination-controls (pageChange)="p = $event"></pagination-controls>
             </div>
         </div>

    </div>

    <div class="col-sm-3">

        <div class="card">
            <div class="card-header"> Formulario de socio</div>
            <div class="card-body">

                <form [formGroup]="formSocio" (ngSubmit)="guardarSocio()" novalidate>
                    <input formControlName="nombre" type="hidden">


                  
                    <div class="form-group">
                        <input formControlName="nombre" type="text" placeholder="ingrese nombre" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="apellido" type="text" placeholder="ingrese apellido" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="dni" type="number" placeholder="ingrese dni" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="celular_tutor" type="text" placeholder="ingrese celular de tutor" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="domicilio" type="text placeholder="ingrese domicilio class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="categoria" type="number" placeholder="ingrese categoria" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="enfermedad" type="text" placeholder="ingrese enfermedad" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="sexo" type="number" placeholder="ingrese sexo" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="fecha_nacimiento" type="number" placeholder="ingrese fecha de nacimiento"class="form-control">
                    </div>




                </form>

            </div>

        </div>

    </div>

</div>

