<div class="row">

    <div class="col-lg-3">

        <div class="card">
            <div class="card-header">
                Formulario Imagen
            </div>
            <div class="card body"></div>
            <form>
                <div class="form-group">
                     <input placeholder="Ingrese id_imagen" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                    <input placeholder="Ingrese la url de la imagen" type="text" class="form-control">
               </div>

               <div class="form-group">
                <input placeholder="Ingrese el public ID" type="text" class="form-control">
               </div>

               <div class="form-group">
                <input placeholder="Ingrese la portada" type="text" class="form-control">
               </div>

               <div class="form-group">
                <input class="" type="file">
               </div>

               <div class="form-group">
                   <button class="btn btn-success">guardar Imagen</button>
               </div>
            </form>
    
        </div>
     </div>

    <div class="col-lg-6">
    </div>
</div>